<header>
    <div class="header-content">
        <h1>METODO GM</h1>
        <h2>Risultati dopo una sola seduta</h2>
        <h4>Corsi formativi in tutta italia</h4>
        <h3>
            <i class="fa fa-envelope"></i>academygiuseppemedda@gmail.com</h3>
        <div class="icons">
            <a href="https://www.facebook.com/profile.php?id=100083464669681" class="icon icon--facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/metodo_gm/" class="icon icon--instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@essenzadelmassaggio_it?lang=it-IT" class="icon icon--tiktok"><i class="fab fa-tiktok"></i></a>
        </div>
    </div>
</header>

