$primary-palette: (
  50: #F5F1EE,
  100: #DAC8BE,
  200: #DAC8BE,
  300: #58626C,
  400: #58626C,
  500: #58626C,
  600: #58626C,
  700: #58626C,
  800: #58626C,
  900: #58626C,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$secondary-palette: (
  50: #F5F1EE,
  100: #DAC8BE,
  200: #DAC8BE,
  300: #58626C,
  400: #58626C,
  500: #58626C,
  600: #58626C,
  700: #58626C,
  800: #58626C,
  900: #58626C,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$primary-color: #58626C;
$accent-color: #2db2ff;