.glass {
    background-color: black;
    color: white;
    padding: 20px;
    max-width: 1024px;
    margin: 100px auto 0;
    margin-bottom: 30px;
    background: linear-gradient(135deg, rgba(255,255,255,0.5),rgba(255,255,255,0.0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 7px 30px 0 rgba(0,0,0,0.5);
  }
  
  .title {
    text-align: center;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .input-group label {
    margin-bottom: 5px;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    border-radius: 10px; /* Aggiunto il border radius di 10px */
    border: 2px solid rgba(255,255,255,0.5); /* Modificato il colore del bordo */
    padding: 5px; /* Aggiunto un padding per una maggiore spaziatura */
    background-color: rgba(255,255,255,0.8); /* Modificato il colore di sfondo */
    color: black; /* Modificato il colore del testo */
  }
  
  .input-group textarea {
    resize: vertical; /* Aggiunto la possibilità di ridimensionare verticalmente il textarea */
  }

  button{
    display: inline-block;
    border: 0.25em solid #1a1a1a;
    border-radius: 2em;
    box-sizing: border-box;
    color: #3b3b3b;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 1em 2.5em;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }

  button:hover{
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: rgba(0,0,0, 0.5) 0 10px 20px;
    transform: translateY(-2px);
  }

  button:active{
    box-shadow: none;
    transform: translateY(0);
  }

  @media screen and (max-width: 768px),
  (min-width: 769px) and (max-width: 1024px) {
.glass {
margin: 2rem 1rem; /* Margine esterno di 1rem quando la larghezza dello schermo è inferiore a 768px o compresa tra 769px e 1024px */
}
}
  