
    <div class="glass">
      <h2 class="title">I nostri corsi in tutta Italia</h2>
      <div class="content">
        <h3>Come funziona il corso?</h3> 
        <p>I nostri corsi di massaggio METODO GM sono disponibili in tutta Italia e ci differenziamo dalla concorrenza
          in quanto ci spostiamo noi presso il vostro centro estetico o benessere per impartire la formazione.
           La nostra tecnica garantisce risultati già dalla prima seduta e potrete scegliere voi quando e dove 
           organizzare il corso.</p> <h4>Per maggiori informazioni contattateci tramite WhatsApp o compila il Form.
             Saremo lieti di fornirvi tutte le informazioni di cui avete bisogno e di aiutarvi a organizzare il corso 
             presso il vostro centro estetico o benessere.</h4> 
      </div>
    </div>
    <div id="a-contatti"></div>

  

