<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center order-md-2">
        <h3>Social</h3>
        <div class="icons">
          <a href="#" class="icon icon--facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="icon icon--instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" class="icon icon--tiktok"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
      <div class="col-md-6 text-center order-md-1">
        <h3>Contatti</h3>
        <p>Indirizzo: Viale Trento 65, Carbonia</p>
        <p>Telefono: +39 3757026249</p>
        <p>Email: info@essenzadelmassaggio.com</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div id="map"></div>
      </div>
    </div>
  </div>
</footer>
