<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <h3>Contatti</h3>
          <p>Indirizzo: Via Roma, 123 - 00100 Roma</p>
          <p>Telefono: 06 1234567</p>
          <p>Email: info@esempio.it</p>
        </div>
        <div class="col-md-6 text-center">
          <h3>Social</h3>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </footer>
