<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <h3>Contatti</h3>
        <p><i class="fas fa-map-marker-alt"></i> Viale Trento 65, Carbonia</p>
        <p><i class="fas fa-phone"></i> +39 3757026249</p>
        <p><i class="fas fa-envelope"></i> academygiuseppemedda@gmail.com</p>
        <p><a href="https://essenzadelmassaggio.com/"><i class="fas fa-globe"></i>https://essenzadelmassaggio.com/</a></p>
        <p><app-privacy-policy></app-privacy-policy></p>
        <p><app-cookie-banner></app-cookie-banner></p>
        <p><app-termini-condizioni></app-termini-condizioni></p>
      </div>
      <div class="col-md-6 text-center">
        <h3>Social</h3>
        <div class="icons">
          <a href="https://www.facebook.com/profile.php?id=100083464669681" class="icon icon--facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/metodo_gm/" class="icon icon--instagram"><i class="fab fa-instagram"></i></a>
          <a href="https://www.tiktok.com/@essenzadelmassaggio_it?lang=it-IT" class="icon icon--tiktok"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div id="map"></div>
      </div>
    </div>
  </div>
</footer>

