<nav class="navbar">
    <div class="logo">
      <a href="/" routerLink="/page" (click)="scrollToTop()">
        <img src="../../../assets/immagini/hero-mgm_logo.jpeg" alt="Logo">
      </a>
    </div>
    <div class="navbar__menu">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a class="navbar__link" routerLink="/page" href="#metodogm" (click)="scrollToSection('metodogm')">Metodo GM</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link--mobile" routerLink="/page" href="#recensione" (click)="scrollToSection('recensione')">I nostri Esperti</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" routerLink="/page" href="#corso" (click)="scrollToSection('corso')">Corso</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" routerLink="/page" href="#contatti" (click)="scrollToSection('contatti')">Contatti</a>
        </li>
      </ul>
    </div>
    <button class="navbar__toggle" (click)="toggleNavbar()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="navbar__menu--mobile" [ngClass]="{'navbar__menu--active': navbarOpen}">
      <ul class="navbar__list--mobile">
        <li class="navbar__item--mobile">
          <a class="navbar__link--mobile" routerLink="/page" href="#metodogm" (click)="toggleNavbar()" (click)="scrollToSection('metodogm')">MetodoGM</a>
        </li>
        <li class="navbar__item--mobile">
          <a class="navbar__link--mobile" routerLink="/page" href="#recensione" (click)="toggleNavbar()" (click)="scrollToSection('recensione')">I nostri Esperti</a>
        </li>
        <li class="navbar__item--mobile">
          <a class="navbar__link--mobile" routerLink="/page" href="#corso" (click)="toggleNavbar()" (click)="scrollToSection('corso')">Corso</a>
        </li>
        <li class="navbar__item--mobile">
          <a class="navbar__link--mobile" routerLink="/page" href="#contatti" (click)="toggleNavbar()" (click)="scrollToSection('contatti')">Contatti</a>
        </li>
      </ul>
    </div>
  </nav>
