<nav class="navbar">
    <div class="logo">
      <a href="/" routerLink="/page" (click)="scrollToTop()">
        <img src="../../../assets/immagini/hero-mgm.png" alt="Logo">
      </a>
    </div>
    <div class="navbar__menu">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a class="navbar__link" routerLink="/page" href="#a-metodogm" (click)="scrollToSection('a-metodogm')">Metodo GM</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link experts-link" routerLink="/page" href="#a-recensione" (click)="scrollToSection('a-recensione')">I nostri Esperti</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" routerLink="/page" href="#a-corso" (click)="scrollToSection('a-corso')">Corso</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" routerLink="/page" href="#a-contatti" (click)="scrollToSection('a-contatti')">Contatti</a>
        </li>
      </ul>
    </div>
    <button class="navbar__toggle" (click)="toggleNavbar()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="navbar__menu--mobile" [ngClass]="{'navbar__menu--active': navbarOpen}">
      <ul class="navbar__list--mobile">
        <li class="navbar__item--mobile">
          <a class="navbar__link--mobile" routerLink="/page" href="#a-metodogm" (click)="toggleNavbar()" (click)="scrollToSection('a-metodogm')">MetodoGM</a>
        </li>
        <li class="navbar__item--mobile">
          <a class="navbar__link--mobile" routerLink="/page" href="#a-recensione" (click)="toggleNavbar()" (click)="scrollToSection('a-recensione')">I nostri Esperti</a>
        </li>
        <li class="navbar__item--mobile">
          <a class="navbar__link--mobile" routerLink="/page" href="#a-corso" (click)="toggleNavbar()" (click)="scrollToSection('a-corso')">Corso</a>
        </li>
        <li class="navbar__item--mobile">
          <a class="navbar__link--mobile" routerLink="/page" href="#a-contatti" (click)="toggleNavbar()" (click)="scrollToSection('a-contatti')">Contatti</a>
        </li>
      </ul>
    </div>
  </nav>
