<div class="grid">
    <div class="card">
      <img src="../../../assets/immagini/prima1.jpg" alt="Prima della terapia 1">
      <div class="card__info">
        <h3>Prima</h3>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/immagini/dopo1.jpg" alt="Dopo la terapia 1">
      <div class="card__info">
        <h3>Dopo</h3>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/immagini/3prima.jpg" alt="Prima della terapia 2">
      <div class="card__info">
        <h3>Prima</h3>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/immagini/dopo3.jpg" alt="Dopo la terapia 2">
      <div class="card__info">
        <h3>Dopo</h3>
      </div>
    </div>
  </div>

