<div class="grid">
    <div class="card">
      <img src="../../../assets/immagini/prima13.JPG" alt="Prima della terapia 1">
      <div class="card__info glass">
        <h3>Prima</h3>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/immagini/dopo13.JPG" alt="Dopo la terapia 1">
      <div class="card__info glass">
        <h3>Dopo</h3>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/immagini/3prima.jpg" alt="Prima della terapia 2">
      <div class="card__info glass">
        <h3>Prima</h3>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/immagini/dopo3.jpg" alt="Dopo la terapia 2">
      <div class="card__info glass">
        <h3>Dopo</h3>
      </div>
    </div>
  <div class="card">
    <img src="../../../assets/immagini/prima12.JPG" alt="Prima della terapia 3">
    <div class="card__info glass">
      <h3>Prima</h3>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/immagini/dopo12.JPG" alt="Dopo la terapia 3">
    <div class="card__info glass">
      <h3>Dopo</h3>
    </div>
  </div>
<!--   <div class="card">
    <img src="../../../assets/immagini/prima10.jpg" alt="Prima della terapia 4">
    <div class="card__info glass">
      <h3>Prima</h3>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/immagini/dopo10.jpg" alt="Dopo la terapia 4">
    <div class="card__info glass">
      <h3>Dopo</h3>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/immagini/prima10.jpg" alt="Prima della terapia 5">
    <div class="card__info glass">
      <h3>Prima</h3>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/immagini/dopo10.jpg" alt="Dopo la terapia 5">
    <div class="card__info glass">
      <h3>Dopo</h3>
    </div>
  </div>
</div> -->
<div id="a-recensione"></div>