.card {
    margin: 70px auto 0;
    max-width: 600px;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .card__text {
    flex: 1;
    margin-right: 20px;
  }
  
  .card__text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card__text p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .card__image {
    flex: 1;
  }
  
  .card__image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  @media screen and (max-width: 768px),
  (min-width: 769px) and (max-width: 1024px) {
.glass {
margin: 2rem 1rem; /* Margine esterno di 1rem quando la larghezza dello schermo è inferiore a 768px o compresa tra 769px e 1024px */
}
}